*, *::after, *::before {
    box-sizing: border-box;
  }

  body {
    color: rgb(233, 233, 233);
    background-color: rgb(0, 8, 30);
    margin:0;
    padding: 0;
  }

html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

  .topic{
    font-size: 50px;
    color: white;
  }

  .head-background{
    background-image: url(../database/image/about-head.jpg);
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-attachment: fixed;
  }

  #navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 8, 20);
  }

  .sticky {
    position: fixed;
    top: 0px;
    width: 100%;
  }

  .logo {
    display: flex;
    align-items: center; 
  }

  .logo_image{
    margin: 0 10px;
  }

  .logo_text {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 8px 8px 8px rgb(148, 148, 148);
  }

  

  .top a {
    float: right;
    text-align: center;
    display: block;
    color: rgb(0, 0, 0);
    padding: 15px 15px;
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(243, 202, 32);
    border: solid 4px rgb(0, 8, 20);
    border-right: none;
  }




  h1 {
    color: rgb(255, 255, 255);
    position:relative;
    font-size: 35px;
    text-align: center;
    text-shadow: 8px 8px 8px rgb(148, 148, 148);
}


  
  .whatwedo{
    display: grid;
    grid-template-columns: 10fr 8fr 1fr;
    background-image: url("../database/image/whatwedo.jpg");
    background-size: 100% 100%;
    background-size: auto;
    font-size: 120%;
    padding: 3rem 3rem;
    margin: 0 0rem;
    min-width: 420px;
    justify-items: center;
    text-align: center;
  }
  
  .technologies{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    background-image: url("../database/image/technology.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    grid-gap: 3rem;
    padding: 0rem 0rem;
    margin: 0 0rem;
    justify-items: left;
    text-align: center;
    font-size: 140%;
    text-shadow: 0px 0px 8px rgb(148, 148, 148);
  }

  .aboutintro{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 3fr 1fr;
    background-image: url("../database/image/ourteam.jpg");
    background-size: 100% 100%;
    grid-gap: 3rem;
    padding: 1rem 0;
    margin: 0 0rem;
    justify-items: center;
    text-align: center;
  }


  .joinus{
    color: rgb(233, 233, 233);
    padding: 0px 15px;
    text-decoration: none;
    font-size: 20px;
  }

  .technologiestxt1, .technologiestxt2{
    justify-self: center;
    font-size: 90%;
    padding: 0rem 8rem;
    min-width: 120px;
  }
