html,body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

/* TOP BAR */

#navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 8, 20);
  }
  
.logo {
    display: flex;
    align-items: center;
    
}
  
.logo_image{
    margin: 0 10px;
}
  
.logo_text {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 8px 8px 8px rgb(148, 148, 148);
}
  

.search-bar2 { 
    display: flex;
    flex-grow: 1;
    margin: 0 2rem;
    margin-right: 20%;
}
  
.search-input2 {
    width: 100%;
    font-size: 1rem;
    padding: 0.6em;
    background-color: rgb(20,61,89);
    border: 3px solid rgb(0, 8, 20);
    color: rgb(243, 202, 32);
    font-size: 20px;
}
  
.search-button2 {
    border: 4.5px solid rgb(0, 8, 20);
    background-color: rgb(20,61,89);
    display: flex;
    align-items: center;
    cursor: pointer;
}
  
.border1_2 {
    width: 90%;
    border: 4px solid rgb(243, 202, 32);
}
  
.border2_2 {
    display: flex;
    align-items: center;
    border: 4px solid rgb(243, 202, 32);
    border-left: none;
}
  
.menu-text a {
    float: right;
    text-align: center;
    display: block;
    color: rgb(0, 0, 0);
    padding: 15px 15px;
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(243, 202, 32);
    border: solid 4px rgb(0, 8, 20);
    border-right: none;
}
  
.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
}
  
#search_index{
    display:none;
}


#searchResult{
  margin: 4rem 9.5rem;
  font-size: 24px;
  color:rgb(243, 202, 32)
}



/* SERACH INDEX */

.movies{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

[class *="search_movie"]{
    display:flex;
    flex-wrap: wrap;
    
}

.detail_movie_name{
  font-size: 26px;
  color: white;
  border-bottom: 1px solid rgb(124, 124, 124);
  text-shadow: 0px 1px 3px white;
}

.basic_movie{ 
    display:flex;
    flex-direction: column;
    background-color: rgb(255, 183, 3);
    margin: 0 20px;
    margin-bottom: 30px;
    border-radius: 10%; 
    border: solid rgb(0, 0, 0) 6px;
    box-shadow: 3px 6px 6px 6px rgba(0, 0, 0, 0.9);
    cursor: pointer;
} 



.basic_movie:hover{
  transform: scale(1.1);
  box-shadow: 5px 10px 10px 10px rgba(0, 8, 20, 0.9);
}

.basic_movie img{
    align-self: center;
    border-radius: 0%;
    width: 300px;
    height: 100%;
    padding: 0px 18px;
    padding-top: 18px;
    
}

.basic_movie text{
    color: rgb(0,0,0);
    text-align: center;
    font-size: 1rem;
    font-family: 'Mochiy Pop P One', sans-serif;
    padding: 1px 10px;

    
}

[class *="movies_detail"]{
  font-size: 24px;
  margin: 0 2rem;
  text-align: justify;
  color: grey;
  max-width: 600px;
  min-width: 0%;
  padding-top: 20px;
  

}

.detail_storyline{
  font-size: 22px;
  text-align: justify;
  color: rgb(255, 183, 3);
}

.detail_button{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    color: black;
    font-family: 'Raleway', sans-serif;
}

.imdb_button,.youtube_button{
  cursor: pointer;
  font-size: 23px;
  background-color: rgb(255, 183, 3);
  margin: 3rem 4rem;
  padding: 0.3rem 0.1rem;
  border: solid;
}

.imdb_button a,.youtube_button a{
  text-decoration: none;
  color: black;
}

/* [class *="movies_detail"]{
    display: none;
} */
